
.App {
    position: relative;
    margin: 0;
    padding: 4em;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    h1,h2,h3 {
        font-weight: normal;
    }
    h1 {
        min-height: 1em;
        width: fit-content;
        font-size: 4em;
        margin: 2em .5em .5em;
        animation: flashing-cursor 0.7s infinite linear alternate;
        padding-right: .1em;
    }
    h3 {
        font-size: 2em;
    }

    .github-link {
        position: absolute;
        top: 2em;
        right: 2em;
        a {
            color: black;
        }
        a::before {
            @include iconBrands('\f09b',4em);
        }
    }
    .name-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow: hidden;
        margin: 3em 0;
        h2 {
            font-size: 3em;
            opacity: 0;
            transition: .8s;
        }
        &.appears {
            h2 {
                opacity: 1;
            }
            .under-line {
                transform: translateX(0);
            }
        }
    }
    .under-line {
        height: .15em;
        width: 60vw;
        background-color: black;
        margin: 1.5em 1em;
        transform: translateX(120%);
        transition: 1s;
    }
    img {
        @include imageFit;
    }
    @include mobile-version {
        font-size: 3vw;
    }
    .chevron {
        margin-left: .5em;
        .inside {
            transition: .4s;
            &::before {
                cursor: pointer;
                @include icon('\f054',1.5em)
            }
        }
        &.less .inside {
            transform: rotate(90deg);
        }
    }
  }