button {
    background-color: rgb(0, 87, 186);
    color: #fff;
    border: none;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: .8em;
    cursor: pointer;
}

.chevron {
    margin-left: .5em;
    .inside {
        transition: .4s;
        &::before {
            cursor: pointer;
            @include icon('\f054',1.5em)
        }
    }
    &.less .inside {
        transform: rotate(90deg);
    }
}
.chevron-left {
    margin-right: .5em;
    .inside {
        transition: .4s;
        &::before {
            cursor: pointer;
            @include icon('\f053',1.5em)
        }
    }
    &.less .inside {
        transform: rotate(-90deg);
    }
}

.close-btn {
    position: absolute;
    top: .5em;
    right: .5em;
    background-color: inherit;
    padding: 0;
    border-radius: 0;
    &::before {
        @include icon('\f057',1.5em);
        color: #cc0505;
    }
}