body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
    &.dark {
        background-color: darken($color: $secondary-color, $amount: 50%);
        color: lighten($color: $secondary-color, $amount: 50%);
    }
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }