$breakpoint-mobile: 400px;
$breakpoint-ipad: 768px;

$primary-color: #14ae94;
$secondary-color: #820c0c;
$third-color: #610cab;
$fourth-color: #12a6c7;
$fifth-color: #031f65;
$sixth-color: #eb678f;
$seventh-color: #6e346a;
$eight-color: rgb(0, 130, 91);